.panel-heading>.panel-title,
.content-box-header .panel-title {
    float: left;
    padding: 10px 15px 10px 0px;
    padding-top: 0px;
}

.panel-heading>.panel-title>*,
.content-box-header .panel-title>* {
    margin: 0;
}

.panel-heading>.panel-title>span,
.content-box-header .panel-title>span {
    font-weight: normal;
}

.panel-heading>.panel-options,
.content-box-header .panel-options {
    float: right;
    padding-right: 15px;
}

.panel-heading>.panel-options>a,
.content-box-header .panel-options>a {
    margin-top: 10px;
}

.panel-body {
    clear: both;
}
